Repository spdx/spdx-3-model, pull requests merged in 2023-06, with the labels that each got.

#358 Update RelationshipType.md to add in AI & Dataset useful relationships
  model/Core/Vocabularies/RelationshipType.md
Labels: Profile:AI, Profile:Dataset

#379 Added dataset types vocabulary
  model/Dataset/Classes/Dataset.md
  model/Dataset/Properties/datasetType.md
  model/Dataset/Vocabularies/DatasetType.md
Labels: Profile:Dataset

#381 add summary and description for contentIdentifier property
  model/Core/Vocabularies/ExternalIdentifierType.md
  model/Software/Properties/contentIdentifier.md
Labels: Profile:Core

#382 Update SoftwarePurpose.md
  model/Software/Vocabularies/SoftwarePurpose.md
Labels: Profile:AI

#383 Update RelationshipType.md
  model/Core/Vocabularies/RelationshipType.md
Labels: Profile:Core, Profile:Build, Profile:Security
