Repository spdx/spdx-3-model, pull requests merged in 2023-12, with the labels that each got.

#452 Remove dataLicense from CreationInfo
  model/Core/Classes/CreationInfo.md
Labels: Profile:Core, Profile:Licensing

#563 Updated Lite profile definition, to eliminate PackageUrl and added decs. for conformance to other profiles.
  model/Lite/Lite.md
Labels: Profile.Lite

#581 Update score.md
  model/Security/Properties/score.md
Labels: Profile:Security

#575 Add seeAlso property to License and LicenseAddition
  model/ExpandedLicensing/Classes/License.md
  model/ExpandedLicensing/Classes/LicenseAddition.md
Labels: Profile:Licensing

#564 fix cardinality of contentType in Annotation
  model/Core/Classes/Annotation.md
Labels: Profile:Core

#576 Remove imports from ElementCollection
  model/Core/Classes/ElementCollection.md
Labels: Profile:Core

#523 Proposal for Lite using profile restrictions
  model/Lite/Lite.md
  serialization/lite.md
Labels: Profile.Lite

#585 Remove the SoftwareDependencyRelationship Class and it's related properties.
  model/Software/Classes/SoftwareDependencyRelationship.md
  model/Software/Properties/conditionality.md
  model/Software/Properties/softwareLinkage.md
  model/Software/Vocabularies/DependencyConditionalityType.md
  model/Software/Vocabularies/SoftwareDependencyLinkType.md
Labels: Profile:Software
