Repository spdx/spdx-3-model, pull requests merged in 2023-11, with the labels that each got.

#524 Example of conformance in plain language
  model/Licensing/Licensing.md
Labels: documentation

#508 Replace describes relationship with rootElement property
  model/Core/Properties/rootElement.md
  model/Core/Vocabularies/RelationshipType.md
Labels: serialization, Profile:Core

#538 json-ld context is currently invalid, add another check that validates the context for jsonld
  .github/workflows/spec-parser.yml
  .github/workflows/test_context.py
Labels: serialization

#519 Rename externalId to externalSpdxId
  model/Core/Classes/ExternalMap.md
  model/Core/Properties/externalSpdxId.md
Labels: Profile:Core

#548 Clarify RelationshipTypes
  model/Core/Vocabularies/RelationshipType.md
Labels: Profile:Core

#536 Update AIPackage.md to express constraints
  model/AI/AI.md
  model/AI/Classes/AIPackage.md
  model/Dataset/Classes/Dataset.md
  model/Dataset/Dataset.md
Labels: Profile:AI

#556 Cleanup relationships
  model/Core/Vocabularies/RelationshipType.md
Labels: Profile:Core
