Repository spdx/spdx-3-model, pull requests merged in 2023-05, with the labels that each got.

#168 Security profile: Add basic structure as md-files
  model/Security/Classes/CvssV2VulnerabilityCategorization.md
  model/Security/Classes/CvssV3VulnerabilityCategorization.md
  model/Security/Classes/EpssVulnerabilityCategorization.md
  model/Security/Classes/ExternalSecurityIdentifier.md
  model/Security/Classes/GenericVulnerabilityCategorization.md
  model/Security/Classes/KnownExploitedVulnerabilitiesCatalogCategorization.md
  model/Security/Classes/OtherVulnerabilityCategorization.md
  model/Security/Classes/SsvcVulnerabilityCategorization.md
  model/Security/Classes/VexAffectedVulnerabilityCategorization.md
  model/Security/Classes/VexNotAffectedVulnerabilityCategorization.md
  model/Security/Classes/VexVulnerabilityCategorization.md
  model/Security/Classes/Vulnerability.md
  model/Security/Classes/VulnerabilityCategorization.md
  model/Security/Properties/actionStatement.md
  model/Security/Properties/categorizationDate.md
  model/Security/Properties/categorizationType.md
  model/Security/Properties/categorizationValue.md
  model/Security/Properties/categorizations.md
  model/Security/Properties/decision.md
  model/Security/Properties/exploitability.md
  model/Security/Properties/impact.md
  model/Security/Properties/justification.md
  model/Security/Properties/listed.md
  model/Security/Properties/locator.md
  model/Security/Properties/modified.md
  model/Security/Properties/probability.md
  model/Security/Properties/published.md
  model/Security/Properties/score.md
  model/Security/Properties/severity.md
  model/Security/Properties/source.md
  model/Security/Properties/status.md
  model/Security/Properties/vector.md
  model/Security/Properties/withdrawn.md
  model/Security/Security.md
  model/Security/Vocabularies/CvssV2SeverityType.md
  model/Security/Vocabularies/CvssV3SeverityType.md
  model/Security/Vocabularies/ExploitCatalogListedType.md
  model/Security/Vocabularies/GenericVulnerabilitySeverityType.md
  model/Security/Vocabularies/SsvcDecisionType.md
  model/Security/Vocabularies/VexJustificationType.md
  model/Security/Vocabularies/VexStatusType.md
Labels: Profile:Security

#250 Update SoftwarePurpose.md
  model/Software/Vocabularies/SoftwarePurpose.md
Labels: Profile:Core

#248 Security Profile: Add Relationship Types
  model/Core/Vocabularies/RelationshipType.md
Labels: Profile:Security

#229 Create sbomType.md
  model/Software/Classes/Sbom.md
  model/Software/Properties/sbomType.md
  model/Software/Vocabularies/SBOMType.md
Labels: Profile:Software

#249 Create ProfileIdentifierType.md
  model/Core/Classes/ProfileIdentifier.md
  model/Core/Properties/profile.md
  model/Core/Vocabularies/ProfileIdentifierType.md
Labels: Profile:Core

#258 Update VEX relationships to even their directions and add prepositions
  model/Core/Vocabularies/RelationshipType.md
Labels: Profile:Security

#256 Add preliminary Security Relationship Types
  model/Core/Vocabularies/RelationshipType.md
Labels: question, Profile:Security

#265 Update Dataset.md
  model/Dataset/Classes/Dataset.md
Labels: Profile:Dataset

#255 Add new types to ExternalReferenceType
  model/Core/Vocabularies/ExternalReferenceType.md
Labels: Profile:Core

#267 Licensing: Rename LicenseExpression to AnyLicenseInfo
  model/Licensing/Classes/AnyLicenseInfo.md
  model/Licensing/Classes/ConjunctiveLicenseSet.md
  model/Licensing/Classes/DisjunctiveLicenseSet.md
  model/Licensing/Classes/License.md
  model/Licensing/Classes/OrLaterOperator.md
  model/Licensing/Classes/WithExceptionOperator.md
  model/Licensing/Properties/member.md
Labels: Profile:Licensing

#271 Licensing: Add standard template properties
  model/Licensing/Classes/License.md
  model/Licensing/Classes/LicenseAddition.md
  model/Licensing/Properties/standardAdditionTemplate.md
  model/Licensing/Properties/standardLicenseTemplate.md
Labels: Profile:Licensing

#277 Licensing: Merge Licensing profile into main
  .gitignore
  model/Licensing/Classes/AnyLicenseInfo.md
  model/Licensing/Classes/ConjunctiveLicenseSet.md
  model/Licensing/Classes/CopyrightText.md
  model/Licensing/Classes/CopyrightTextField.md
  model/Licensing/Classes/CustomLicense.md
  model/Licensing/Classes/CustomLicenseAddition.md
  model/Licensing/Classes/DisjunctiveLicenseSet.md
  model/Licensing/Classes/License.md
  model/Licensing/Classes/LicenseAddition.md
  model/Licensing/Classes/LicenseField.md
  model/Licensing/Classes/ListedLicense.md
  model/Licensing/Classes/ListedLicenseException.md
  model/Licensing/Classes/NoAssertionLicense.md
  model/Licensing/Classes/NoAssertionText.md
  model/Licensing/Classes/NoneLicense.md
  model/Licensing/Classes/NoneText.md
  model/Licensing/Classes/OrLaterOperator.md
  model/Licensing/Classes/WithAdditionOperator.md
  model/Licensing/Licensing.md
  model/Licensing/Properties/additionComment.md
  model/Licensing/Properties/additionId.md
  model/Licensing/Properties/additionName.md
  model/Licensing/Properties/additionText.md
  model/Licensing/Properties/attributionText.md
  model/Licensing/Properties/concludedLicense.md
  model/Licensing/Properties/copyrightText.md
  model/Licensing/Properties/declaredLicense.md
  model/Licensing/Properties/deprecatedVersion.md
  model/Licensing/Properties/isDeprecatedAdditionId.md
  model/Licensing/Properties/isDeprecatedLicenseId.md
  model/Licensing/Properties/isFsfLibre.md
  model/Licensing/Properties/isOsiApproved.md
  model/Licensing/Properties/licenseComment.md
  model/Licensing/Properties/licenseId.md
  model/Licensing/Properties/licenseName.md
  model/Licensing/Properties/licenseText.md
  model/Licensing/Properties/listVersionAdded.md
  model/Licensing/Properties/member.md
  model/Licensing/Properties/obsoletedBy.md
  model/Licensing/Properties/seeAlso.md
  model/Licensing/Properties/standardAdditionTemplate.md
  model/Licensing/Properties/standardLicenseHeader.md
  model/Licensing/Properties/standardLicenseTemplate.md
  model/Licensing/Properties/subjectAddition.md
  model/Licensing/Properties/subjectLicense.md
Labels: Profile:Licensing

#282 Licensing: Remove FIXME from CopyrightTextField
  model/Licensing/Classes/CopyrightTextField.md
Labels: Profile:Licensing

#276 Update Dataset.md
  model/Core/Classes/Artifact.md
  model/Dataset/Classes/Dataset.md
Labels: Profile:Dataset

#286 Licensing and Software: add Licensing properties to SoftwareArtifact
  model/Software/Classes/SoftwareArtifact.md
Labels: Profile:Licensing, Profile:Software

#291 Software properies (licensing-related)
  model/Software/Classes/SoftwareArtifact.md
  model/Software/Properties/attributionText.md
  model/Software/Properties/concludedLicense.md
  model/Software/Properties/copyrightText.md
  model/Software/Properties/declaredLicense.md
Labels: Profile:Licensing, Profile:Software

#290 Create standard.md
  model/Core/Classes/Artifact.md
  model/Core/Properties/standard.md
Labels: Profile:Core

#298 Change copyrightText to be xsd:string
  model/Licensing/Classes/CopyrightText.md
  model/Licensing/Classes/CopyrightTextField.md
  model/Licensing/Classes/NoAssertionText.md
  model/Licensing/Classes/NoneText.md
  model/Software/Classes/SoftwareArtifact.md
  model/Software/Properties/copyrightText.md
Labels: Profile:Licensing

#300 Licensing: Clarify as strings for NONE and NOASSERTION
  model/Software/Properties/copyrightText.md
Labels: Profile:Licensing

#296 Update RelationshipType.md
  model/Core/Vocabularies/RelationshipType.md
Labels: Profile:Core

#305 Add comments for relationships
  model/Core/Vocabularies/RelationshipType.md
Labels: Profile:Core

#329 Security: Fix markdown and add external property restriction for "to"
  model/Security/Classes/VulnAssessmentRelationship.md
  model/Security/Properties/withdrawnTime.md
Labels: Profile:Security

#314 Security: change Boolean to xsd:boolean and fix justification type
  model/Security/Classes/ExploitCatalogVulnAssessmentRelationship.md
  model/Security/Classes/SsvcVulnAssessmentRelationship.md
  model/Security/Classes/VexFixedVulnAssessmentRelationship.md
  model/Security/Classes/VexNotAffectedVulnAssessmentRelationship.md
  model/Security/Properties/decisionType.md
  model/Security/Properties/exploited.md
  model/Security/Properties/justificationType.md
  model/Security/Vocabularies/VexStatusType.md
Labels: Profile:Security

#322 Add cve & securityOther as ExternalIdentifierType
  model/Core/Vocabularies/ExternalIdentifierType.md
Labels: Profile:Security

#340 core: Replace Entity with Agent
  model/Core/Classes/Agent.md
  model/Core/Classes/Artifact.md
  model/Core/Classes/CreationInfo.md
  model/Core/Classes/Entity.md
  model/Core/Classes/Identity.md
  model/Core/Classes/Organization.md
  model/Core/Classes/Person.md
  model/Core/Classes/SoftwareAgent.md
  model/Core/Classes/Tool.md
  model/Core/Properties/createdBy.md
  model/Core/Properties/originatedBy.md
  model/Security/Classes/VulnAssessmentRelationship.md
  model/Security/Properties/suppliedBy.md
Labels: Profile:Core

#313 Add definingDocument property
  model/Core/Classes/ExternalMap.md
  model/Core/Properties/definingDocument.md
Labels: Profile:Core

#355 Add json-ld serialization examples
  serialization/json.md
  serialization/json_ld/examples/package.jsonld
  serialization/json_ld/examples/person.jsonld
  serialization/json_ld/examples/spdx_document.jsonld
Labels: examples
