Repository spdx/spdx-3-model, pull requests merged in 2023-04, with the labels that each got.

#91 Add Build profile
  model/Build/Build.md
  model/Build/Classes/Build.md
  model/Build/Properties/buildEnd.md
  model/Build/Properties/buildId.md
  model/Build/Properties/buildStart.md
  model/Build/Properties/buildType.md
  model/Build/Properties/configSourceDigest.md
  model/Build/Properties/configSourceEntrypoint.md
  model/Build/Properties/configSourceUri.md
  model/Build/Properties/environment.md
  model/Build/Properties/parameters.md
  model/Core/Vocabularies/RelationshipType.md
Labels: Profile:Build

#176 Move datasetSize.md
  model/Dataset/Properties/datasetSize.md
  model/Dataset/properties/datasetSize.md
Labels: Profile:Dataset

#187 Create sensors.md
  model/Dataset/Properties/sensors.md
Labels: Profile:Dataset

#182 Add Dictionary class
  model/Core/Classes/DictionaryEntry.md
  model/Core/Properties/key.md
  model/Core/Properties/value.md
Labels: model

#193 Dataset profile: add sensitivePersonalInformation.md
  model/Dataset/Properties/sensitivePersonalInformation.md
Labels: Profile:Dataset

#189 AI profile: Update descriptions and fix names
  model/AI/Properties/autonomyType.md
  model/AI/Properties/domain.md
  model/AI/Properties/energyConsumption.md
  model/AI/Properties/hyperparameters.md
  model/AI/Properties/informationAboutApplication.md
  model/AI/Properties/informationAboutTraining.md
  model/AI/Properties/limitations.md
  model/AI/Properties/metrics.md
  model/AI/Properties/metricsDecisionThresholds.md
  model/AI/Properties/modelDataPreprocessingSteps.md
  model/AI/Properties/modelExplainabilityMechanisms.md
  model/AI/Properties/safetyRiskAssessment.md
  model/AI/Properties/safetyRiskAssessmentType.md
  model/AI/Properties/sensitivePersonalInformation.md
  model/AI/Properties/sensitivePersonalInformationType.md
  model/AI/Properties/standardsCompliance.md
  model/AI/Properties/typeOfModel.md
  model/AI/Vocabularies/PresenceType.md
  model/AI/Vocabularies/SafetyRiskAssessmentType.md
  model/AI/domain.md
Labels: Profile:AI

#194 Dataset profile: Update descriptions
  model/Dataset/Classes/Dataset.md
  model/Dataset/Properties/anonymizationMethodUsed.md
  model/Dataset/Properties/confidentialityLevel.md
  model/Dataset/Properties/confidentialityLevelType.md
  model/Dataset/Properties/dataCollectionProcess.md
  model/Dataset/Properties/dataPreprocessingSteps.md
  model/Dataset/Properties/datasetNoise.md
  model/Dataset/Properties/datasetSize.md
  model/Dataset/Properties/intendedUse.md
  model/Dataset/Properties/knownBiases.md
  model/Dataset/Properties/sensors.md
  model/Dataset/Vocabulary/ConfidentialityLevelType.md
Labels: Profile:Dataset

#178 Software profile: add sourceInfo
  model/Software/Classes/Package.md
  model/Software/Properties/sourceInfo.md
Labels: Profile:Software

#195 Add dataset Availability to dataset profile.
  model/Dataset/Classes/Dataset.md
  model/Dataset/Properties/datasetAvailability.md
  model/Dataset/Vocabulary/DatasetAvailabilityType.md
Labels: Profile:Dataset

#192 Add Dataset profile
  model/Dataset/Classes/Dataset.md
  model/Dataset/Properties/anonymizationMethodUsed.md
  model/Dataset/Properties/confidentialityLevel.md
  model/Dataset/Properties/dataCollectionProcess.md
  model/Dataset/Properties/dataPreprocessingSteps.md
  model/Dataset/Properties/datasetAvailability.md
  model/Dataset/Properties/datasetNoise.md
  model/Dataset/Properties/datasetSize.md
  model/Dataset/Properties/datasetUpdateMechanism.md
  model/Dataset/Properties/intendedUse.md
  model/Dataset/Properties/knownBiases.md
  model/Dataset/Properties/sensitivePersonalInformation.md
  model/Dataset/Properties/sensors.md
  model/Dataset/Vocabulary/ConfidentialityLevelType.md
  model/Dataset/Vocabulary/DatasetAvailabilityType.md
Labels: Profile:Dataset

#171 Renames the property of set member
  model/Licensing/Classes/ConjunctiveLicenseSet.md
  model/Licensing/Classes/DisjunctiveLicenseSet.md
  model/Licensing/Properties/member.md
Labels: Profile:Licensing

#179 Add License properties
  model/Licensing/Properties/comment.md
  model/Licensing/Properties/deprecatedVersion.md
  model/Licensing/Properties/example.md
  model/Licensing/Properties/isDeprecatedLicenseId.md
  model/Licensing/Properties/isFsfLibre.md
  model/Licensing/Properties/isOsiApproved.md
  model/Licensing/Properties/licenseId.md
  model/Licensing/Properties/licenseText.md
  model/Licensing/Properties/listVersionAdded.md
  model/Licensing/Properties/name.md
  model/Licensing/Properties/obsoletedBy.md
  model/Licensing/Properties/seeAlso.md
  model/Licensing/Properties/standardLicenseHeader.md
Labels: Profile:Licensing

#206 Licensing: cleanup of TBDs and add summary text
  model/Licensing/Classes/CustomLicense.md
  model/Licensing/Classes/License.md
  model/Licensing/Classes/ListedLicense.md
  model/Licensing/Classes/NoAssertionLicense.md
  model/Licensing/Classes/NoAssertionText.md
  model/Licensing/Classes/NoneLicense.md
  model/Licensing/Classes/NoneText.md
  model/Licensing/Licensing.md
Labels: Profile:Licensing

#197 AI profile: use DictionaryEntry where appropriate
  model/AI/Classes/AIPackage.md
  model/AI/Properties/hyperparameters.md
  model/AI/Properties/metrics.md
  model/AI/Properties/metricsDecisionThresholds.md
Labels: Profile:AI

#152 Add AI Profile
  model/AI/Classes/AIPackage.md
  model/AI/Properties/autonomyType.md
  model/AI/Properties/domain.md
  model/AI/Properties/energyConsumption.md
  model/AI/Properties/hyperparameters.md
  model/AI/Properties/informationAboutApplication.md
  model/AI/Properties/informationAboutTraining.md
  model/AI/Properties/limitations.md
  model/AI/Properties/metrics.md
  model/AI/Properties/metricsDecisionThresholds.md
  model/AI/Properties/modelDataPreprocessingSteps.md
  model/AI/Properties/modelExplainabilityMechanisms.md
  model/AI/Properties/safetyRiskAssessment.md
  model/AI/Properties/sensitivePersonalInformation.md
  model/AI/Properties/standardsCompliance.md
  model/AI/Properties/typeOfModel.md
  model/AI/Vocabularies/PresenceType.md
  model/AI/Vocabularies/SafetyRiskAssessmentType.md
Labels: Profile:AI

#196 add builtTime, releaseTime and validUntilTime to Artifact
  model/Core/Classes/Artifact.md
  model/Core/Properties/builtTime.md
  model/Core/Properties/releaseTime.md
  model/Core/Properties/validUntilTime.md
Labels: Profile:Core

#203 Propose changing "identification" to "verification"
  model/Core/Classes/IntegrityMethod.md
Labels: Profile:Core

#213 Core: add PositiveIntegerRange class
  model/Core/Classes/PositiveIntegerRange.md
  model/Core/Properties/begin.md
  model/Core/Properties/end.md
  model/Software/Classes/Snippet.md
Labels: Profile:Core

#214 Add text to allow reproducible builds
  model/Build/Classes/Build.md
  model/Core/Classes/CreationInfo.md
  model/Core/Properties/created.md
Labels: Profile:Core

#216 Build profile: use DictionaryEntry class for maps
  model/Build/Classes/Build.md
  model/Build/Properties/environment.md
  model/Build/Properties/parameters.md
Labels: Profile:Build

#45 Add glossary of terms
  model/Glossary.md
Labels: model

#230 AI Profile: Use singular for properties
  model/AI/Classes/AIPackage.md
  model/AI/Properties/hyperparameter.md
  model/AI/Properties/hyperparameters.md
  model/AI/Properties/limitation.md
  model/AI/Properties/metric.md
  model/AI/Properties/metricDecisionThreshold.md
  model/AI/Properties/modelDataPreprocessing.md
  model/AI/Properties/modelExplainability.md
  model/AI/Properties/standardCompliance.md
  model/AI/Properties/standardsCompliance.md
Labels: Profile:Dataset

#219 Dataset: fix names and cardinalities
  model/Dataset/Classes/Dataset.md
Labels: Profile:Dataset

#225 Licensing: Add missing property definitions
  model/Licensing/Classes/License.md
  model/Licensing/Properties/attributionText.md
  model/Licensing/Properties/comment.md
  model/Licensing/Properties/concludedLicense.md
  model/Licensing/Properties/copyrightText.md
  model/Licensing/Properties/declaredLicense.md
  model/Licensing/Properties/deprecatedVersion.md
  model/Licensing/Properties/example.md
  model/Licensing/Properties/isDeprecatedLicenseId.md
  model/Licensing/Properties/isFsfLibre.md
  model/Licensing/Properties/isOsiApproved.md
  model/Licensing/Properties/licenseComment.md
  model/Licensing/Properties/licenseId.md
  model/Licensing/Properties/licenseText.md
  model/Licensing/Properties/listVersionAdded.md
  model/Licensing/Properties/member.md
  model/Licensing/Properties/name.md
  model/Licensing/Properties/obsoletedBy.md
  model/Licensing/Properties/seeAlso.md
  model/Licensing/Properties/standardLicenseHeader.md
  model/Licensing/Properties/standardLicenseTemplate.md
Labels: Profile:Licensing

#69 add SoftwareDependencyRelationship and LifecycleScopedRelationship
  model/Core/Classes/LifecycleScopedRelationship.md
  model/Core/Vocabularies/LifecycleScopeType.md
  model/Core/Vocabularies/RelationshipCompleteness.md
  model/Software/Classes/SoftwareDependencyRelationship.md
  model/Software/Vocabularies/DependencyConditionalityType.md
  model/Software/Vocabularies/SoftwareDependencyLinkType.md
Labels: Profile:Software

#243 Adds pattern shape for SemVer strings
  model/Core/Classes/SemVer.md
Labels: Profile:Core

#247 Update HashAlgorithm.md
  model/Core/Vocabularies/HashAlgorithm.md
Labels: Profile:Core
