Repository spdx/spdx-3-model, pull requests merged in 2023-10, with the labels that each got.

#447 Update profile to be a property on collections and specify conformance
  Glossary.md
  model/Core/Classes/CreationInfo.md
  model/Core/Classes/ElementCollection.md
  model/Core/Properties/profile.md
  model/Core/Properties/profileConformance.md
  model/Core/Vocabularies/ProfileIdentifierType.md
Labels: Profile:Core

#513 update security vector.md to vectorString.md
  model/Security/Properties/vector.md
  model/Security/Properties/vectorString.md
Labels: Profile:Security

#511 update CvssV3VulnAssessmentRelationship.md
  model/Security/Classes/CvssV3VulnAssessmentRelationship.md
Labels: Profile:Security

#510 remove severity property from CvssV2VulnAssessmentRelationship.md
  model/Security/Classes/CvssV2VulnAssessmentRelationship.md
Labels: Profile:Security

#506 Update README to the current state of generated files
  README.md
Labels: documentation
