Repository spdx/spdx-3-model, pull requests merged in 2023-07, with the labels that each got.

#398 Add several new external references
  model/Core/Vocabularies/ExternalReferenceType.md
Labels: Profile:Core

#399 Restructure licensing profile
  model/Core/Vocabularies/ProfileIdentifierType.md
  model/ExpandedLicensing/Classes/ConjunctiveLicenseSet.md
  model/ExpandedLicensing/Classes/CustomLicense.md
  model/ExpandedLicensing/Classes/CustomLicenseAddition.md
  model/ExpandedLicensing/Classes/DisjunctiveLicenseSet.md
  model/ExpandedLicensing/Classes/ExtendableLicense.md
  model/ExpandedLicensing/Classes/License.md
  model/ExpandedLicensing/Classes/LicenseAddition.md
  model/ExpandedLicensing/Classes/ListedLicense.md
  model/ExpandedLicensing/Classes/ListedLicenseException.md
  model/ExpandedLicensing/Classes/OrLaterOperator.md
  model/ExpandedLicensing/Classes/WithAdditionOperator.md
  model/ExpandedLicensing/ExpandedLicensing.md
  model/ExpandedLicensing/Individuals/NoAssertionLicense.md
  model/ExpandedLicensing/Individuals/NoneLicense.md
  model/ExpandedLicensing/Properties/additionComment.md
  model/ExpandedLicensing/Properties/additionId.md
  model/ExpandedLicensing/Properties/additionName.md
  model/ExpandedLicensing/Properties/additionText.md
  model/ExpandedLicensing/Properties/deprecatedVersion.md
  model/ExpandedLicensing/Properties/isDeprecatedAdditionId.md
  model/ExpandedLicensing/Properties/isDeprecatedLicenseId.md
  model/ExpandedLicensing/Properties/isFsfLibre.md
  model/ExpandedLicensing/Properties/isOsiApproved.md
  model/ExpandedLicensing/Properties/licenseComment.md
  model/ExpandedLicensing/Properties/licenseId.md
  model/ExpandedLicensing/Properties/licenseName.md
  model/ExpandedLicensing/Properties/listVersionAdded.md
  model/ExpandedLicensing/Properties/member.md
  model/ExpandedLicensing/Properties/obsoletedBy.md
  model/ExpandedLicensing/Properties/seeAlso.md
  model/ExpandedLicensing/Properties/standardAdditionTemplate.md
  model/ExpandedLicensing/Properties/standardLicenseHeader.md
  model/ExpandedLicensing/Properties/standardLicenseTemplate.md
  model/ExpandedLicensing/Properties/subjectAddition.md
  model/ExpandedLicensing/Properties/subjectLicense.md
  model/SimpleLicensing/Classes/AnyLicenseInfo.md
  model/SimpleLicensing/Classes/LicenseExpression.md
  model/SimpleLicensing/Classes/SimpleLicensingText.md
  model/SimpleLicensing/Properties/licenseExpression.md
  model/SimpleLicensing/Properties/licenseText.md
  model/SimpleLicensing/SimpleLicensing.md
Labels: Profile:Licensing

#425 Adds serialization security use cases and improves formatting
  serialization/README.md
Labels: Profile:Security

#453 Change cardinality for attributionText to [0..*]
  model/Software/Classes/SoftwareArtifact.md
Labels: Profile:Licensing
