Repository spdx/spdx-3-model, pull requests merged in 2023-08, with the labels that each got.

#450 Move PresenceType to core
  model/AI/Classes/AIPackage.md
  model/AI/Properties/autonomyType.md
  model/AI/Properties/sensitivePersonalInformation.md
  model/Core/Vocabularies/PresenceType.md
  model/Dataset/Classes/Dataset.md
  model/Dataset/Properties/sensitivePersonalInformation.md
Labels: Profile:Core, Profile:AI, Profile:Dataset

#457 Rename ExternalReference to ExternalRef
  model/Core/Classes/Element.md
  model/Core/Classes/ExternalRef.md
  model/Core/Properties/externalRef.md
  model/Core/Properties/externalRefType.md
  model/Core/Vocabularies/ExternalRefType.md
  model/Security/Classes/CvssV2VulnAssessmentRelationship.md
  model/Security/Classes/CvssV3VulnAssessmentRelationship.md
  model/Security/Classes/Vulnerability.md
Labels: Profile:Core

#451 Add licenseXml property to License and LicenseAddition
  model/ExpandedLicensing/Classes/License.md
  model/ExpandedLicensing/Classes/LicenseAddition.md
  model/ExpandedLicensing/Properties/licenseXml.md
Labels: Profile:Licensing

#474 Indicate maxCount for Artifact's `suppliedBy`
  model/Core/Classes/Artifact.md
Labels: Profile:Core

#473 update Vulnerability.md
  model/Security/Classes/Vulnerability.md
Labels: Profile:Security

#472 Update suppliedBy.md
  model/Core/Properties/suppliedBy.md
Labels: Profile:Core, Profile:Security

#444 Add customIdToUri Map to LicenseExpression
  model/SimpleLicensing/Classes/LicenseExpression.md
  model/SimpleLicensing/Properties/customIdToUri.md
Labels: Profile:Licensing

#441 add documentation on how to parse JSON-LD as pure JSON
  serialization/json.md
Labels: serialization
