Repository spdx/spdx-3-model, pull requests merged in 2023-03, with the labels that each got.

#136 Add `xsd:` namespace to `anyURI`
  model/Core/Classes/Element.md
  model/Core/Classes/ExternalMap.md
  model/Core/Classes/ExternalReference.md
  model/Core/Classes/NamespaceMap.md
  model/Core/Properties/externalId.md
  model/Core/Properties/locationHint.md
  model/Core/Properties/locator.md
  model/Core/Properties/namespace.md
  model/Core/Properties/spdxId.md
  model/Software/Classes/File.md
  model/Software/Classes/Package.md
  model/Software/Classes/Snippet.md
  model/Software/Properties/contentIdentifier.md
  model/Software/Properties/downloadLocation.md
  model/Software/Properties/homePage.md
  model/Software/Properties/packageUrl.md
Labels: model, Profile:Core, Profile:Software

#125 add missing name properties to Package and Snippet
  model/Software/Classes/Package.md
  model/Software/Classes/Snippet.md
Labels: Profile:Software

#135 Add createdUsing property
  model/Core/Classes/CreationInformation.md
  model/Core/Properties/createdUsing.md
Labels: Profile:Core

#122 add Software related descriptions
  model/Software/Classes/File.md
  model/Software/Classes/Package.md
  model/Software/Classes/Sbom.md
  model/Software/Classes/Snippet.md
  model/Software/Properties/byteRange.md
  model/Software/Properties/contentType.md
  model/Software/Properties/downloadLocation.md
  model/Software/Properties/filePurpose.md
  model/Software/Properties/homePage.md
  model/Software/Properties/lineRange.md
  model/Software/Properties/packagePurpose.md
  model/Software/Properties/snippetPurpose.md
  model/Software/Vocabularies/SoftwarePurpose.md
Labels: Profile:Software

#121 add Collection related descriptions
  model/Core/Classes/Bundle.md
  model/Core/Classes/ElementCollection.md
  model/Core/Classes/NamespaceMap.md
  model/Core/Classes/SpdxDocument.md
  model/Core/Properties/context.md
  model/Core/Properties/element.md
  model/Core/Properties/externalId.md
  model/Core/Properties/imports.md
  model/Core/Properties/locationHint.md
  model/Core/Properties/namespace.md
  model/Core/Properties/namespaces.md
  model/Core/Properties/prefix.md
  model/Core/Properties/rootElement.md
Labels: Profile:Core

#72 Add `comment` property in CreationInformation.md
  model/Core/Classes/CreationInformation.md
Labels: Profile:Core

#73 add packageVersion property in Package.md
  model/Software/Classes/Package.md
  model/Software/Properties/packageVersion.md
Labels: Profile:Software

#115 add Relationship related descriptions
  model/Core/Properties/completeness.md
  model/Core/Properties/from.md
  model/Core/Properties/relationshipType.md
  model/Core/Properties/to.md
  model/Core/Vocabularies/RelationshipCompleteness.md
  model/Core/Vocabularies/RelationshipType.md
Labels: Profile:Core

#116 add IntegrityMethod related descriptions
  model/Core/Classes/IntegrityMethod.md
  model/Core/Properties/algorithm.md
  model/Core/Properties/hashValue.md
  model/Core/Properties/verifiedUsing.md
  model/Core/Vocabularies/HashAlgorithm.md
Labels: Profile:Core

#118 add Element related descriptions
  model/Core/Properties/description.md
  model/Core/Properties/name.md
  model/Core/Properties/originatedBy.md
  model/Core/Properties/spdxId.md
  model/Core/Properties/summary.md
Labels: Profile:Core

#120 add External ID/Ref related descriptions
  model/Core/Classes/ExternalIdentifier.md
  model/Core/Classes/ExternalReference.md
  model/Core/Classes/MediaType.md
  model/Core/Properties/contentType.md
  model/Core/Properties/externalIdentifierType.md
  model/Core/Properties/externalIdentifiers.md
  model/Core/Properties/externalReferenceType.md
  model/Core/Properties/externalReferences.md
  model/Core/Properties/locator.md
  model/Core/Vocabularies/ExternalIdentifierType.md
  model/Core/Vocabularies/ExternalReferenceType.md
Labels: Profile:Core

#119 add Annotation related descriptions
  model/Core/Properties/annotationType.md
  model/Core/Properties/statement.md
  model/Core/Properties/subject.md
  model/Core/Vocabularies/AnnotationType.md
Labels: Profile:Core

#95 Create AIPackage.md
  model/AI/Classes/AIPackage.md
Labels: Profile:AI

#97 Create standardsCompliance.md
  model/AI/Properties/standardsCompliance.md
Labels: Profile:AI

#98 Create limitations.md
  model/AI/Properties/limitations.md
Labels: Profile:AI

#99 Create safetyRiskAssessmentType.md
  model/AI/Properties/safetyRiskAssessmentType.md
Labels: Profile:AI

#100 Create typeOfModel.md
  model/AI/Properties/typeOfModel.md
Labels: Profile:AI

#111 Create SafetyRiskAssessmentType.md
  model/AI/Vocabularies/SafetyRiskAssessmentType.md
Labels: Profile:AI

#112 Create PresenceType.md
  model/AI/Vocabularies/PresenceType.md
Labels: Profile:AI

#102 Create hyperparameters.md
  model/AI/Properties/hyperparameters.md
Labels: Profile:AI

#101 Create informationAboutApplication.md
  model/AI/Properties/informationAboutApplication.md
Labels: Profile:AI

#106 Create sensitivePersonalInformationType.md
  model/AI/Properties/sensitivePersonalInformationType.md
Labels: Profile:AI

#109 Create domain.md
  model/AI/domain.md
Labels: Profile:AI

#128 fix some issues in markdowns in licensing branch
  model/Licensing/Classes/ConjunctiveLicenseSet.md
  model/Licensing/Classes/CopyrightTextField.md
  model/Licensing/Classes/DisjunctiveLicenseSet.md
  model/Licensing/Classes/License.md
  model/Licensing/Licensing.md
Labels: Profile:Licensing

#104 Create modelDataPreprocessingSteps.md
  model/AI/Properties/modelDataPreprocessingSteps.md
Labels: Profile:AI

#108 Create metrics.md
  model/AI/Properties/metrics.md
Labels: Profile:AI

#155 Create confidentialityLevelType.md
  model/Dataset/Properties/confidentialityLevelType.md
Labels: Profile:Dataset

#153 Create Dataset.md
  model/Dataset/Classes/Dataset.md
Labels: Profile:Dataset
