Repository spdx/spdx-3-model, pull requests merged in 2024-11, with the labels that each got.

#906 Fix typo: NoneLicenseElement -> NoneElement
  model/Core/Individuals/NoneElement.md
Labels: Profile:Core

#867 Add documentation for Markdown headings used in spec generation
  Contributing.md
  README.md
  docs/format.md
  docs/glossary.md
  docs/model.drawio
  docs/translation.md
Labels: documentation

#922 Collapse a nested list to a single-level list to avoid rendering issue in MkDocs
  model/Licensing/Licensing.md
Labels: Profile:Licensing

#913 use relative path syntax
  model/Core/Properties/packageVerificationCodeExcludedFile.md
Labels: Profile:Core

#908 VEX affected cardinalities
  model/Security/Classes/VexAffectedVulnAssessmentRelationship.md
Labels: Profile:Security

#889 Final change log update for v3.0.1 model
  CHANGELOG.md
Labels: documentation, publishing

#928 Fixing typos about None and NoAssertion
  model/AI/Properties/autonomyType.md
  model/Core/Classes/Relationship.md
Labels: Profile:Core, Profile:AI, typo
