Repository spdx/spdx-3-model, pull requests merged in 2024-07, with the labels that each got.

#795 Update EpssVulnAssessmentRelationship properties
  model/Security/Classes/EpssVulnAssessmentRelationship.md
  model/Security/Classes/VulnAssessmentRelationship.md
Labels: Profile:Security

#777 Add link SPDX License List
  model/ExpandedLicensing/Classes/ConjunctiveLicenseSet.md
  model/ExpandedLicensing/Classes/CustomLicense.md
  model/ExpandedLicensing/Classes/CustomLicenseAddition.md
  model/ExpandedLicensing/Classes/License.md
  model/ExpandedLicensing/Classes/LicenseAddition.md
  model/ExpandedLicensing/Classes/ListedLicense.md
  model/ExpandedLicensing/Classes/ListedLicenseException.md
  model/ExpandedLicensing/Classes/WithAdditionOperator.md
  model/ExpandedLicensing/ExpandedLicensing.md
  model/ExpandedLicensing/Properties/deprecatedVersion.md
  model/ExpandedLicensing/Properties/isDeprecatedAdditionId.md
  model/ExpandedLicensing/Properties/isDeprecatedLicenseId.md
  model/ExpandedLicensing/Properties/isFsfLibre.md
  model/ExpandedLicensing/Properties/isOsiApproved.md
  model/ExpandedLicensing/Properties/licenseXml.md
  model/ExpandedLicensing/Properties/listVersionAdded.md
  model/Licensing/Licensing.md
  model/SimpleLicensing/Classes/AnyLicenseInfo.md
  model/SimpleLicensing/Classes/LicenseExpression.md
  model/SimpleLicensing/Properties/customIdToUri.md
  model/SimpleLicensing/Properties/licenseExpression.md
  model/SimpleLicensing/Properties/licenseListVersion.md
  model/SimpleLicensing/SimpleLicensing.md
  serialization/rdf.md
Labels: Profile:Licensing

#780 AI: Energy consumption: Add examples and update desc
  model/AI/Classes/EnergyConsumption.md
  model/AI/Classes/EnergyConsumptionDescription.md
  model/AI/Properties/energyConsumption.md
Labels: Profile:AI

#794 Fix types in Security example snippets
  model/Security/Classes/CvssV2VulnAssessmentRelationship.md
  model/Security/Classes/CvssV3VulnAssessmentRelationship.md
  model/Security/Classes/CvssV4VulnAssessmentRelationship.md
  model/Security/Classes/EpssVulnAssessmentRelationship.md
  model/Security/Classes/ExploitCatalogVulnAssessmentRelationship.md
  model/Security/Classes/SsvcVulnAssessmentRelationship.md
  model/Security/Classes/VexAffectedVulnAssessmentRelationship.md
  model/Security/Classes/VexFixedVulnAssessmentRelationship.md
  model/Security/Classes/VexNotAffectedVulnAssessmentRelationship.md
  model/Security/Classes/VexUnderInvestigationVulnAssessmentRelationship.md
  model/Security/Classes/Vulnerability.md
Labels: Profile:Security

#797 Remove unnecessary restrictions
  model/AI/Classes/AIPackage.md
  model/Dataset/Classes/DatasetPackage.md
Labels: Profile:AI, Profile:Dataset

#787 Licensing: Move up note on declared vs concluded license disagreement
  model/Licensing/Licensing.md
Labels: Profile:Licensing
