Repository spdx/spdx-3-model, pull requests merged in 2024-03, with the labels that each got.

#668 Add deployed support type
  model/Core/Vocabularies/SupportType.md
Labels: Profile:Core, Profile:Build

#666 Change isDirectory to fileKind enumeration
  model/Software/Classes/File.md
  model/Software/Properties/fileKind.md
  model/Software/Properties/isDirectory.md
  model/Software/Vocabularies/FileKindType.md
Labels: Profile:Software

#661 model: Core: DateTime: Inherit from xsd:dateTime
  model/Core/Datatypes/DateTime.md
Labels: RDF/OWL/SHACL

#675 [3.0] AI: Update safetyRiskAssessment property desc to refer to general risk assessment
  model/AI/Properties/safetyRiskAssessment.md
  model/AI/Vocabularies/SafetyRiskAssessmentType.md
Labels: Profile:AI

#671 Dataset: Rename Dataset class to DatasetPackage and update properties desc.
  model.drawio
  model/AI/AI.md
  model/AI/Classes/AIPackage.md
  model/AI/Properties/autonomyType.md
  model/AI/Properties/domain.md
  model/AI/Properties/energyConsumption.md
  model/AI/Properties/hyperparameter.md
  model/AI/Properties/informationAboutApplication.md
  model/AI/Properties/informationAboutTraining.md
  model/AI/Properties/limitation.md
  model/AI/Properties/metric.md
  model/AI/Properties/metricDecisionThreshold.md
  model/AI/Properties/modelDataPreprocessing.md
  model/AI/Properties/modelExplainability.md
  model/AI/Properties/standardCompliance.md
  model/AI/Properties/typeOfModel.md
  model/AI/Properties/useSensitivePersonalInformation.md
  model/Dataset/Classes/DatasetPackage.md
  model/Dataset/Dataset.md
  model/Dataset/Properties/anonymizationMethodUsed.md
  model/Dataset/Properties/confidentialityLevel.md
  model/Dataset/Properties/dataCollectionProcess.md
  model/Dataset/Properties/dataPreprocessing.md
  model/Dataset/Properties/datasetNoise.md
  model/Dataset/Properties/datasetSize.md
  model/Dataset/Properties/datasetType.md
  model/Dataset/Properties/datasetUpdateMechanism.md
  model/Dataset/Properties/hasSensitivePersonalInformation.md
  model/Dataset/Properties/intendedUse.md
  model/Dataset/Properties/knownBias.md
  model/Dataset/Properties/sensor.md
  model/Dataset/Vocabularies/ConfidentialityLevelType.md
  model/Dataset/Vocabularies/DatasetAvailabilityType.md
Labels: Profile:Dataset

#623 Update to.md to reflect what min:0 means
  model/Core/Properties/to.md
Labels: Profile:Core
