Repository spdx/spdx-3-model, pull requests merged in 2024-12, with the labels that each got.

#933 SoftwareArtifact as range for assessedElement
  model/Security/Classes/VulnAssessmentRelationship.md
  model/Security/Properties/assessedElement.md
Labels: Profile:Security

#937 Create an IndividualElement class
  model/Core/Classes/IndividualElement.md
  model/Core/Individuals/NoAssertionElement.md
  model/Core/Individuals/NoneElement.md
Labels: Profile:Core

#939 Capitalise Profile names
  model/Build/Build.md
  model/Core/Classes/ElementCollection.md
  model/Core/Properties/profileConformance.md
  model/Core/Vocabularies/ProfileIdentifierType.md
  model/Licensing/Licensing.md
Labels: Profile:Core, Profile:Build, Profile:Licensing

#941 Add individual element class to core diagram
  docs/model.drawio
  images/model-Core.png
Labels: documentation

#938 Update CHANGELOG with changes since 2024-11-15
  CHANGELOG.md
Labels: documentation

#942 Reexport Core and Security diagram PNGs for smaller file size
  images/model-Core.png
  images/model-Security.png
Labels: Profile:Core, Profile:Security

#945 Document branches
  README.md
Labels: documentation
