Repository spdx/spdx-3-model, pull requests merged in 2024-09, with the labels that each got.

#872 ExternalMap: Replace "Document" with "SpdxDocument"
  model/Core/Classes/ExternalMap.md
  model/Core/Properties/externalSpdxId.md
Labels: Profile:Core, publishing

#874 To be consistent, copy scope.md file from spdx-spec to spdx-3-model
  scope.md
Labels: documentation

#877 Standardised RFC links in model Markdown files
  model/Core/Datatypes/MediaType.md
  model/Core/Properties/packageVerificationCodeExcludedFile.md
  model/Core/Vocabularies/ExternalIdentifierType.md
  model/Core/Vocabularies/HashAlgorithm.md
Labels: publishing

#878 Lite: Fix conformance lists rendering; mincount -> minCount
  model/Lite/Lite.md
Labels: Profile:Lite, publishing

#876 Remove mentions of .md; fix indent in YAML example; fix heading consistency
  model/Build/Properties/configSourceEntrypoint.md
  model/Core/Classes/ElementCollection.md
  model/Core/Datatypes/MediaType.md
  model/Security/Properties/catalogType.md
  model/Security/Properties/decisionType.md
  model/Security/Properties/vectorString.md
  serialization/README.md
Labels: Profile:Build, Profile:Security

#849 Update URLs in serialization docs to 3.0.1
  serialization/jsonld/validation.md
  serialization/rdf.md
Labels: documentation, publishing

#857 Update contributing doc, updating v3.0-RC-related messages
  Contributing.md
  Governance.md
  README.md
Labels: documentation

#879 buildType: Fix broken bullet lists rendering
  model/Build/Properties/buildType.md
Labels: Profile:Build, publishing

#880 Add /Core/Individuals/SpdxOrganization
  model/Core/Individuals/SpdxOrganization.md
Labels: Profile:Core, publishing

#885 Fix typos, casing, and make SoftwarePurpose entry description consistent
  Glossary.md
  model/Build/Build.md
  model/Build/Properties/buildType.md
  model/Core/Properties/dataLicense.md
  model/Core/Properties/externalSpdxId.md
  model/Core/Properties/hashValue.md
  model/Core/Properties/import.md
  model/Core/Properties/originatedBy.md
  model/Core/Properties/spdxId.md
  model/Core/Properties/verifiedUsing.md
  model/Core/Vocabularies/AnnotationType.md
  model/Core/Vocabularies/ExternalIdentifierType.md
  model/Core/Vocabularies/RelationshipType.md
  model/Security/Properties/impactStatement.md
  model/Software/Properties/additionalPurpose.md
  model/Software/Properties/sourceInfo.md
  model/Software/Vocabularies/SoftwarePurpose.md
Labels: documentation

#884 [Diagram] Remove all named individuals
  images/model-core-software.png
  images/model-core-software.svg
  images/model-core.png
  images/model-core.svg
  images/model-licensing.png
  images/model-licensing.svg
  model.drawio
Labels: documentation, Profile:Core, publishing

#881 [CHANGELOG] Add changes in buildType and SpdxOrganization
  CHANGELOG.md
  model/Core/Individuals/SpdxOrganization.md
Labels: documentation, Profile:Core, Profile:Build

#888 Fix typo: Asbtract -> Abstract
  model/Security/Classes/VexVulnAssessmentRelationship.md
Labels: Profile:Security
