Repository spdx/spdx-3-model, pull requests merged in 2024-02, with the labels that each got.

#621 Change MediaType to conform to RFC 2046
  model/Core/Datatypes/MediaType.md
Labels: Profile:Core

#619 rename begin and end to beginIntegerRange and endIntegerRange
  model/Core/Classes/PositiveIntegerRange.md
  model/Core/Properties/beginIntegerRange.md
  model/Core/Properties/endIntegerRange.md
Labels: Profile:Core

#613 Change range of subjectLicense to ExtendableLicense
  model/ExpandedLicensing/Properties/subjectLicense.md
Labels: Profile:Licensing

#628 Create Support Level to associate different types of support with an artifact.
  model/Core/Classes/Artifact.md
  model/Core/Properties/supportLevel
  model/Core/Vocabularies/SupportType.md
Labels: Profile:Core

#618 Allow for File objects to describe directories
  model/Software/Classes/File.md
  model/Software/Properties/isDirectory.md
Labels: Profile:Software

#599 Add legacy PackageVerificationCode as an integrity method
  model/Software/Classes/PackageVerificationCode.md
Labels: Profile:Software

#631 Change name of 'standard' property to be 'standardName'
  model/Core/Classes/Artifact.md
  model/Core/Properties/standardName.md
Labels: Profile:Core

#639 Add missing packageVerificationCodeExcludedFile property
  model/Core/Properties/packageVerificationCodeExcludedFile.md
Labels: Profile:Core

#640 Add a subjectExtendableLicense property
  model/ExpandedLicensing/Classes/WithAdditionOperator.md
  model/ExpandedLicensing/Properties/subjectExtendableLicense.md
  model/ExpandedLicensing/Properties/subjectLicense.md
Labels: Profile:Licensing
