Repository spdx/spdx-3-model, pull requests merged in 2025-07, with the labels that each got.

#1039 Update VulnAssessmentRelationship examples in zh-Hans + Fix Markdown
  model/AI/AI.md
  model/AI/Properties/useSensitivePersonalInformation.md
  model/Core/Classes/Annotation.md
  model/Core/Classes/IntegrityMethod.md
  model/Core/Properties/comment.md
  model/Core/Properties/endIntegerRange.md
  model/Core/Properties/extension.md
  model/Core/Properties/key.md
  model/Core/Properties/subject.md
  model/Core/Properties/verifiedUsing.md
  model/Core/Vocabularies/HashAlgorithm.md
  model/Core/Vocabularies/PresenceType.md
  model/ExpandedLicensing/Classes/ConjunctiveLicenseSet.md
  model/ExpandedLicensing/Classes/CustomLicense.md
  model/ExpandedLicensing/Classes/CustomLicenseAddition.md
  model/ExpandedLicensing/Classes/DisjunctiveLicenseSet.md
  model/ExpandedLicensing/Classes/LicenseAddition.md
  model/ExpandedLicensing/Classes/ListedLicense.md
  model/ExpandedLicensing/Classes/OrLaterOperator.md
  model/ExpandedLicensing/Properties/additionText.md
  model/ExpandedLicensing/Properties/deprecatedVersion.md
  model/ExpandedLicensing/Properties/isDeprecatedAdditionId.md
  model/ExpandedLicensing/Properties/isDeprecatedLicenseId.md
  model/ExpandedLicensing/Properties/isFsfLibre.md
  model/ExpandedLicensing/Properties/isOsiApproved.md
  model/ExpandedLicensing/Properties/licenseXml.md
  model/ExpandedLicensing/Properties/standardAdditionTemplate.md
  model/ExpandedLicensing/Properties/standardLicenseTemplate.md
  model/Extension/Classes/CdxPropertyEntry.md
  model/Security/Classes/CvssV2VulnAssessmentRelationship.md
  model/Security/Classes/CvssV3VulnAssessmentRelationship.md
  model/Security/Classes/CvssV4VulnAssessmentRelationship.md
  model/Security/Classes/EpssVulnAssessmentRelationship.md
  model/Security/Classes/ExploitCatalogVulnAssessmentRelationship.md
  model/Security/Classes/SsvcVulnAssessmentRelationship.md
  model/Security/Classes/VexAffectedVulnAssessmentRelationship.md
  model/Security/Classes/VexFixedVulnAssessmentRelationship.md
  model/Security/Classes/VexNotAffectedVulnAssessmentRelationship.md
  model/Security/Classes/VexUnderInvestigationVulnAssessmentRelationship.md
  model/Security/Classes/Vulnerability.md
Labels: Profile:Security, typo, Translation:zh-Hans

#1042 Fix Hardware typos and formatting
  model/Core/Properties/additionalInformation.md
  model/Hardware/Classes/DestroyAction.md
  model/Hardware/Classes/Dimensions.md
  model/Hardware/Classes/HarvestingAction.md
  model/Hardware/Classes/ProductSpecification.md
  model/Hardware/Classes/ReproductionProcess.md
  model/Hardware/Classes/ResponsibilityChangeAction.md
  model/Hardware/Classes/ResponsibilityChangeProcess.md
  model/Hardware/Classes/StateAction.md
  model/Hardware/Classes/TestAction.md
  model/Hardware/Classes/TransportAction.md
  model/Hardware/Classes/VirtualHardware.md
  model/Hardware/Hardware.md
  model/Hardware/Properties/additionalInformation.md
  model/Hardware/Properties/additionalInformationSpecification.md
  model/Hardware/Properties/centerOfMass.md
  model/Hardware/Properties/coordinateOrientation.md
  model/Hardware/Properties/current.md
  model/Hardware/Properties/dimensionsUnit.md
  model/Hardware/Properties/hardwareVersion.md
  model/Hardware/Properties/hazard.md
  model/Hardware/Properties/informationElementList.md
  model/Hardware/Properties/massOfHardware.md
  model/Hardware/Properties/massUnit.md
  model/Hardware/Properties/objectState.md
  model/Hardware/Properties/organizationalEntity.md
  model/Hardware/Properties/plannedCurrent.md
  model/Hardware/Properties/plannedPrevious.md
  model/Hardware/Properties/previous.md
  model/Hardware/Properties/productAgent.md
  model/Hardware/Properties/releaseDate.md
  model/Hardware/Properties/requirementsLevel.md
  model/Hardware/Properties/requirementsRationale.md
  model/Hardware/Properties/requirementsUID.md
  model/Hardware/Properties/responsibilityCategory.md
  model/Hardware/Properties/yAxisLength.md
  model/Hardware/Properties/zAxisLength.md
  model/Hardware/Vocabularies/CoordinateOrientationType.md
  model/Hardware/Vocabularies/VirtualHardwareModelType.md
Labels: typo, Profile:Hardware

#1041 Fix Hardware relationshipType, formatting and typos
  model/Hardware/Classes/BoundaryDefinitionAction.md
  model/Hardware/Classes/CreateAction.md
  model/Hardware/Classes/CreateProcess.md
  model/Hardware/Classes/ModifyAction.md
  model/Hardware/Classes/ModifyProcess.md
  model/Hardware/Classes/PlanAction.md
  model/Hardware/Classes/ReproduceAction.md
  model/Hardware/Classes/ResolutionAction.md
  model/Hardware/Classes/StateProcess.md
  model/Hardware/Classes/TestProcess.md
  model/Hardware/Classes/UseAction.md
  model/Hardware/Classes/UseProcess.md
Labels: typo, Profile:Hardware

#1040 Fix typos: provenence, an software, etc
  model/Core/Classes/Bom.md
  model/Core/Individuals/SpdxOrganization.md
  model/Core/Properties/scope.md
  model/Core/Vocabularies/ExternalRefType.md
  model/Core/Vocabularies/LifecycleScopeType.md
  model/Extension/Properties/cdxProperty.md
  model/Software/Vocabularies/SbomType.md
  model/Software/Vocabularies/SoftwarePurpose.md
Labels: typo

#1050 [3.0] "this specification" -> "this document"
  model/Core/Vocabularies/ExternalIdentifierType.md
  model/SimpleLicensing/Classes/LicenseExpression.md
  model/SimpleLicensing/Properties/licenseExpression.md
  model/Software/Properties/packageUrl.md
Labels: typo

#1049 [develop] "this specification" -> "this document"
  model/Core/Vocabularies/ExternalIdentifierType.md
  model/SimpleLicensing/Classes/LicenseExpression.md
  model/SimpleLicensing/Properties/licenseExpression.md
  model/Software/Properties/packageUrl.md
Labels: typo

#1034 Add ContactPointRelationship
  model/Core/Classes/ContactPointRelationship.md
  model/Core/Properties/contactType.md
  model/Core/Vocabularies/ContactPointRelationshipType.md
  model/Core/Vocabularies/ExternalIdentifierType.md
  model/Core/Vocabularies/RelationshipType.md
Labels: Profile:Core, relationship

#1060 Hardware- WG
  model/Hardware/Classes/ResponsibilityChangeAction.md
  model/Hardware/Classes/StorageAction.md
  model/Hardware/Properties/responsibilityChangedOn.md
  model/Hardware/Properties/storageLocation.md
Labels: Profile:Hardware
